footer {
    text-align: center;
    justify-content: center;
    color: rgb(86, 178, 94);
    background-color: rgb(2, 67, 130);
    font-size: 50px;
    padding: 25px;
    border-style: solid;
    border-color: rgb(86, 178, 94);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: monospace;
}